#header { 
	background-color: #55859f; /* 0 */ 
	border-bottom: 2px solid #497289; /* -2 */
}

.pagination ul > li > a:hover, 
.pagination ul > li > a:focus, 
.pagination ul > .active > a, 
.pagination ul > .active > span,
.fc-event, .external-event {
	border-color: #497289 !important; /* -2 */
	background-color: #55859f !important; /* 0 */
}

blockquote { border-left: 5px solid #55859f; /* 0 */ }
blockquote.pull-right { border-right: 5px solid #55859f; /* 0 */ }

.highlight-color { background-color: #55859f; /* 0 */ }

.nav-tabs > .active > a:before,
.tabs-below > .nav-tabs > .active > a:before,
.tabs-left > .nav-tabs > .active > a:before,
.tabs-right > .nav-tabs > .active > a:before,
.ui-tabs .ui-tabs-nav li.ui-tabs-active:after,
.thumbnail > .caption,
#sidebar #nav > ul > li.active > a:before { border-color: #55859f !important; /* 0 */ }

.nav-pills > .active > a, 
.nav-pills > .active > a:hover, 
.nav-pills > .active > a:focus {
	background-color: #55859f; /* 0 */
}

.nav-list > .active > a, 
.nav-list > .active > a:hover, 
.nav-list > .active > a:focus {
	background-color: #55859f; /* 0 */
}

#footer .totop:hover { background-color: #55859f; /* 0 */ }

#header > .toolbar > li.open > a:after { border-color: transparent transparent #55859f transparent; /* 0 */ }

#header .dropdown-menu > header { background-color: #55859f; /* 0 */ }

#main > .navbar .breadcrumb > li.active { color: #55859f; /* 0 */ }

.widget.widget-message .body-inner ul > li > figure > figcaption > .meta a { color: #55859f; /* 0 */ }

.ui-autocomplete.ui-menu .ui-menu-item a:hover { background: #55859f !important; /* 0 */ }

.ui-datepicker td a.ui-state-active,
.ui-datepicker td a.ui-state-active.ui-state-hover { background-color: #55859f !important; /* 0 */ }

.ui-slider .ui-slider-range { background: #55859f !important; /* 0 */ }

#sidebar #nav > ul > li > ul > li.active > a,
#sidebar #nav > ul > li > ul > li > a:hover,
#sidebar #nav > ul ul ul > li > a:hover,
#sidebar #nav > ul ul ul > li.active > a { color: #6895ae; /* +2 */ }

#header > .toggler {
	background-color: #3d6073; /* -4 */
	border: 1px solid #324d5d; /* -6 */
}

.daterangepicker .ranges li.active, 
.daterangepicker .ranges li:hover {
	background: #55859f !important; /* 0 */
	border: 1px solid #55859f !important; /* 0 */
}