/* Cleanizr v.1.2.2 - custom.css
 *
 * @note : Any enhancement should be done in this file
 * @author : you
 * @author URL : your url
 *
 */

table tbody tr a {
    cursor: pointer;
}

.widget p a {
    cursor: help;
}

.monospace {
	font-family:monospace;
}

#sidebar #nav > ul > li > a {
	cursor: pointer;
}

/* Console Styles */
.console {
    margin-bottom: 0px;
    border-bottom: none;
}

.console-inner {
    height: 400px;
    overflow-y: scroll;
}

.console-inner .table td {
    border-top: none;
    padding: 0px;
    line-height: 15px;
}