.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 25px;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.dashboard-card-content {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  justify-content: center;
  align-items: stretch;
}

mat-card {
  display: flex;
  flex-direction: column;
}

.fill {
  flex: 1 1 auto;
}
.value-text {
  text-align: right;
  width: 100%;
}

.mat-card-header-text {
  width: 100%;
}

.title-text {
  font-weight: 400;
  margin: 0;
  font-size: 2em;
  text-align: right;
  vertical-align: bottom;
  width: 100%;
}
.mat-card-avatar{
  flex-grow: 1;
}
.avatar-icon {
  margin-left: 15px;
  transform: scale(3);
}

.card-icon {
  margin-right: 5px;
}
