<div class="login-wrapper"
     fxLayoutAlign="center center">

  <mat-card role="form">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <img src="assets/img/logo-dark.png">
          <div>Welcome to MineOS!</div>
        </mat-card-title>
      </mat-card-title-group>
    </mat-card-header>

    <form [formGroup]="loginForm"
          (ngSubmit)="login()">
      <mat-card-content>
        <div>
          <mat-form-field appearance="fill">
            <input matInput
                   placeholder="Username"
                   formControlName="username"
                   required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <input matInput
                   placeholder="Password"
                   [type]="hidePassword ? 'password' : 'text'"
                   formControlName="password"
                   required>
            <mat-icon matSuffix
                      (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </mat-form-field>
        </div>
      </mat-card-content>
      <button mat-raised-button
              color="primary"
              type="submit">Log in</button>
    </form>
  </mat-card>

</div>
